/* Hero.css */
.hero {
    display: flex;
    background-color:#cdddf0;
    color: #00ABE4;
    
    height: 92vh;
    padding-inline: 45px;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.hero-text {
    font-size: 4rem;
    margin-bottom: 10px;
    word-spacing: 2%;
}

.hero-description {
    font-size: 2rem;
    max-width: 400px;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    background: url(https://m.media-amazon.com/images/I/71H463v+0PL._AC_UF894,1000_QL80_.jpg) center;
    background-size: 90%;
    background-repeat: no-repeat;
}